{% extends "base.html" %}
{% block content %}

<header>
    <a href="/"><button class="button1">Home</button></a>    
</header>


<h1>All members</h1>

<body>
    <img src="/static/images/members.jpg" alt="stressed cat inside a losely rolled up exercise mat" style="float:right" width="500px" height="380px">

<table class ="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Premium</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{member.firstname}}</td>
        <td>{{member.lastname}}</td>
        <td>{% if member.premium == 2 %}Yes {% endif %}</td>
        <td><a href="/members/{{member.id}}/edit"><button>edit member details</button></a></td>
    </tr>
    {% endfor %}
</table>
</body>

{% endblock %}