{% extends "base.html" %}
{% block content %}
<div class="page-main">
    <header class="page-header">
        <h1>Cat Cardio</h1>
        <h2> - the gym for gym kittens - </h2>
        <a href="/"><button class="button1">Home</button></a>    
    </header>


    <span class="page-body">
        
        <span class="section-A">
        <ul>
            <p>All members</p>
            {% for member in members %}
            <li><a href="/members/{{member.id}}/edit">  {{member.firstname}} {{member.lastname}} {% if member.premium == 2 %}- Premium {% endif %}</a></li>
            {% endfor %}
        </ul>
        </span>

        <span class="members-image"></span>

    </span>
</div>

{% endblock %}