{% extends "base.html" %}
{% block content %}

<h1>Add a new member</h1>
<h2>Enter the details of the new member and click "add member"</h2>


<form action="/members" method="post">
    <div>
        <label for="firstname">First Name</label>
        <input type="text" name="firstname" id="firstname" placeholder="First Name" required autofocus>
    </div>

    <div>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname" placeholder="Last Name">
    </div>

    <button type="submit" class="button3">add member</button>

</form>


{% endblock %}