{% extends "base.html" %}
{% block content %}
<header>
    <a href="/"><button class="button1">Home</button></a>    
</header>



<h1>Book a member onto {{course.title}}</h1>
<h2>on {{course.date}} at {{course.time}}</h2>


<form action="/bookings/{{course.id}}" method="post">
    <label for="member">Select a member</label>
        <select name="member_id" id="member">
            {% for member in members %}
            <option value="{{member.id}}">{{member.firstname}} {{member.lastname}}</option>
            {% endfor %}
        </select>

    <button type="submit" class="button3">add member</button>

</form>

{% endblock %}