{% extends "base.html" %}
{% block content %}


Home page

<body>
    <main class="flex">
        <div class="box">
            <a href="/members">View All Members</a>
        </div>
        <div class="box">
            <a href="/members/new">Add new member</a>
        </div>
        <div class="box">
            <a href="/courses">View All courses</a>
        </div>
        <div class="box">
            <a href="/courses/new">Add new course</a>
        </div>
    </main>
</body>


{% endblock %}