{% extends "base.html" %}
{% block content %}
<div class="page-main">
    <header class="page-header">
        <h1>Cat Cardio</h1>
        <h2> - the gym for gym kittens - </h2>
        <a href="/"><button class="button1">Home</button></a>    
    </header>

    <span class="page-body">

        <span class="section-A">
            <ul>
                <p>All upcoming classes</p>
                {% for course in courses %}
                <li>
                    <a href="/bookings/{{course.id}}">{{course.title}} - {{course.date}} - {{course.time}} -{{course.capacity}} cats max  {% if course.peak == 2 %}- peak time {% endif %}</a><a href="/courses/{{course.id}}/edit"><button>edit</button></a>
                </li>
                {% endfor %}
            </ul>
        </span>
        <span class="courses-image"></span>
    </span>

</div>

{% endblock %}