{% extends "base.html" %}
{% block content %}

<h1>All upcoming classes</h1>
<hr>

<table class="table">
    <tr>
        <th>Course</th>
        <th>Date</th>
        <th>Time</th>
        
    </tr>
    {% for course in courses %}
    <tr>
        <td><a href="/bookings/{{course.id}}"><button>{{course.title}}</button></a></td>
        <td>{{course.date}}</td>
        <td>{{course.time}}</td>
        <td><a href="/courses/{{course.id}}/edit"><button>edit class details</button></a></td>
    </tr>
    {% endfor %}
</table>


{% endblock %}